.navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.navbar-right {
  position: absolute;
  right: 0;
  text-align: right;
  margin: 0 30px;
}
.navbar-toggle {
  z-index: 3;
}
